body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
	width: 500px;
	height: 500px;
	border: 1px solid black;
}

.grid-item {
	border: 1px solid rgb(180, 180, 180);
}

button {
	border: none;
	background-color: rgb(231, 231, 231);
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 10px;
	font-weight: bold;
	color: black;
}

button:hover {
	background: rgb(180, 180, 180);
}

.drawn {
	background-color: rgb(0, 0, 0);
}
