body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
	width: 500px;
	height: 500px;
	border: 1px solid black;
}

.grid-item {
	border: 1px solid rgb(180, 180, 180);
}

/* .grid-item:hover {
	background-color: black;
} */

.drawn {
	background-color: rgb(0, 0, 0);
}
